
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bootswatch";

@import "node_modules/font-awesome/scss/font-awesome";

body {
    font-family: "Whitney SSm A","Whitney SSm B",Arial,sans-serif;
    background-color: #f5f5f5;
}
.navbar li > a {
    font-size: 14px;
    font-weight: 600;
}

